# comentário.
.idea/
.vscode/

# comentário.
src/main/resources/application.properties
src/main/resources/boostrap.properties
src/main/resources/mail.properties
src/main/resources/application.yml
src/main/resources/boostrap.yml
src/main/resources/mail.yml

# comentário.
bin/
gen/
target/
out/

# comentário.
.mvn/
mvnw.cmd
mvnw

# comentário.